In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Montando unidad de google drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Ruta del Titanic-dataset

In [ ]:
ruta = "/content/drive/MyDrive/Colab/Titanic-Dataset.csv"

In [ ]:
datos = pd.read_csv(ruta, index_col='PassengerId')

In [ ]:
datos.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Información del dataset

In [ ]:
datos.info() #Muestra información general

In [ ]:
datos.describe()#Muestra información descriptiva

**Duplicados y nulos**

In [ ]:
duplicados = datos.duplicated().sum()
duplicados

np.int64(0)

identificando y eliminando nulos

In [ ]:
nulos_columnas = datos.isnull().sum()
nulos_filas = datos[datos.isnull().any(axis=1)]
total_nulos = nulos_columnas.sum()

**Función para eliminar nulos**

In [ ]:
data_sin_nulos = datos.dropna() #elimina filas nulas
data_sin_nulos.info()

**Creación de gráfico de barra**

In [4]:
plt.bar(['Fallecidos (0)', 'Sobrevivientes (1)'])
plt.title('Supervivencia en el Titanic')
plt.ylabel('Cantidad de personas')
plt.xlabel('Estado')
plt.grid(axis='y', linestyle='--', alpha=0.5)
plt.tight_layout()

plt.show()

NameError: name 'plt' is not defined

In [ ]:

plt.figure(figsize=(6, 4))
plt.bar(['Fallecidos (0)', 'Sobrevivientes (1)'])
plt.title('Supervivencia en el Titanic')
plt.ylabel('Cantidad de personas')
plt.xlabel('Estado')
plt.grid(axis='y', linestyle='--', alpha=0.5)
plt.tight_layout()

plt.show()